body{
    font-family: 微軟正黑體;
    width:70%;
    margin-left: auto;
    margin-right: auto;
}

.nav{
    float: right;
}

.con{
    color: turquoise;
    font-weight: bold;
    font-size: 130%;
    text-decoration: unset;
    padding: 10px;
}

.navi{
    display: inline;
    padding: 8px;
}

.con:hover{
    border-bottom: 4px solid turquoise;
}

.picture{
    background-image: url("image/andyone-26591.jpg");
    background-position: center;
    background-size: 100%;
}

.title{
    padding-top: 10%;
    padding-left: 50%;
    padding-bottom: 10%;
    color: white;
    font-size: 300%;
    background-color: rgba(0, 0, 0, 0.4);
}

.column1, .column2, .column3{
    width:30%;
    border: 3px outset;
    float: left;
    margin:1.5%;
    text-align: center;
    padding-top: 2%; 
}

.column3{
    margin-right: 0%;
}

.first_row{
    background-color: #efefef;
}

table{
    font-size: 130%;
    width:95%;
    margin-left: auto;
    margin-right: auto;
    border-collapse: collapse;
}
td{
    border-bottom: 1px solid gray;
    padding-left: 2%;
    padding-right: 2%;
    padding-top: 0.5%;
    padding-bottom: 0.5%;
}

.dt{
    text-align: center;
}

.advance{
    color: turquoise;
}

.ct{
    color:white;
    text-align: center;
}
.contact{
    background: linear-gradient(#227700,#008888);
    padding-top: 2.5%;
    margin-top: 2.5%;
    padding-bottom: 20%;
}
.right, .left{
    width:45%;
    margin-left: 2.5%;
    margin-right: 2.5%;
    float:left;
    font-size: 120%;
    color:white;
    font-weight: bold;
    vertical-align: auto;
}

.areaa{
    width:100%;
    height: 15em;
}

.input{
    width:100%;
}
.input{
    padding-top: 0.5%;
}

.logo{
    width: 10%;
    height: 10%;
}

.c{
    float: right;
    vertical-align: auto;
}

.ep{
    color: purple;
    text-decoration: unset;
}

.right>p{
    margin-bottom: 0.2em;
    margin-top: 0.2em;
}

footer{
    font-size: 100%;
}